body {
  font-family: "Overpass", sans-serif;
  font-size: $default-font-size;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;

  &-cta--primary {
    color: $cta-light-red;
  }

  &-cta--secondary {
    color: $white;
  }
}

.nav {
  &__link {
    &-group {
      text-align: center;
    }

    &-list {
      line-height: 1.75;

      a {
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &__wrapper--light &__link {
    &-name {
      color: $very-dark-black-blue;

      &--selected {
        color: $very-dark-grayish-blue;
      }
    }

    &-list {
      a {
        color: $very-dark-grayish-blue;
      }
    }
  }

  &__login {
    font-size: 1rem;
    font-family: "Overpass", sans-serif;
  }

  &__signup {
    color: $white;
  }

  &--dark &__link {
    &-name,
    &-list a {
      font-family: "Ubuntu", sans-serif;
    }

    &-name {
      color: $white;
    }

    &-list {
      a {
        color: $grayish-blue;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}

.blog {
  &__title {
    text-align: center;
  }

  &__intro {
    &-text {
      text-align: center;

      h1 {
        color: $white;
        line-height: 1.3;
        font-size: clamp(2rem, 8vw, 2.5rem);
        font-weight: 600;
      }

      span {
        color: $grayish-blue;
      }
    }

    &-cta {
      text-align: center;
    }
  }
}

.article {
  text-align: center;

  &__title {
    color: $very-dark-blue;
    line-height: 1.2;
    font-size: clamp(1.45rem, 7.35vw, 1.75rem);

    &--light {
      color: $white;
    }

    &--big {
      font-size: 2rem;
    }
  }

  &__paragraph {
    color: $very-dark-grayish-blue;
    font-size: clamp(0.875rem, 4vw, 1rem);

    &--light {
      color: $grayish-blue;
    }
  }
}
